<div class="headerbar navbar-fixed-top">
    <a ui-sref="app.homehead.home"><img src="/img/logo-ecopago-s.png" class="img-responsive logo" alt="Logo Ecopago"></a>

    <img src="/img/phone-logo.png" class="img-responsive headicon pull-right" alt="Icono Telefono">
</div>

<div ui-view class="has-headerbar has-footerbar background-img">

    <div class="header">
        <h3>Creación de Password</h3>
    </div>
    <div class="loading" ng-if="isLoading">
        <h1>Procesando...</h1>
        <div class="loader"></div>
    </div>
    <div class="container has-footerbar">
        <div class="row">
            <div class="registro-content padding1">
                <div class="panel panel-default fullwidth nomargin marginbot1">
                    <div class="panel-heading">
                        <h3 class="panel-title">Recuperación de Password</h3>
                    </div>
                    <div class="parentflex-center">
                        <div class="flexchild-center fullwidth">
                            <div class="panel-body width50 marginauto">
                                <form class="form-horizontal" name="formCrearPassword">
                                    <div class="form-group">
                                        <label for="loginPassword" class=" control-label col-sm-4">Ingrese su Mail</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" name="mailRecuperacion" id="mailRecuperacion" ng-model="destinatarioMailDTO.destinatario" placeholder="Ingrese su mail" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <span ng-show="formCrearPassword.loginPassword.$error.required">REQUERIDO.</span> -->
                <button class="btn btn-primary btn-block width50 marginauto" ng-click="generarToken()">Enviar Mail</button>
                <!-- <button class="btn btn-primary btn-block width50 marginauto" ng-disabled="!formCrearPassword.$valid " ng-click="guardarPassword()">Aceptar</button>  -->
            </div>
        </div>
    </div>
</div>
