<div ui-view>
    <div ui-view="contenido"></div>
    <nav class="navbar navbar-fixed-bottom navfooter">
        <div class="parentflex-center">
            <div class="flexchild">
                <div class="parentflex-center">
                    <div class="flexchild-center">
                        <ul class="nav navbar-nav">
                            <li class="navbar-text">Ecopago &#x00a9; 2016</li>
                            <li><a ui-sref="app.reghead.preguntas">Preguntas  Frecuentes</a></li>
                            <li><a href="">Contactanos</a></li>
                            <li><a ui-sref="app.reghead.terminosCond">Términos y Condiciones</a></li>
                            <li><a href="">Política de Privacidad</a></li>
                        </ul>
                    </div> 
                </div>
            </div>
            <div class="flexchild">
                <div class="parentflex-col">
                    <div class="flexchild-center">
                        <ul class="socialbar">
                            <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                            <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                            <li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
                            <li><i class="fa fa-rss" aria-hidden="true"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
