<div ui-view class="has-headerbar has-footerbar">
    <div class="header">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="text-right">Bienvenido a Ecopago!</h2></div>
            <div class="col-sm-6">
                <ul class="nav navbar-nav botones-nav">
                    <li><a href="">Servicios<i class="fa fa-files-o" aria-hidden="true"></i></a></li>
                    <li><a href="">Ecopesos<i class="fa fa-usd" aria-hidden="true"></i></a></li>
                    <li><a href="">Mis Cuentas<i class="fa fa-credit-card" aria-hidden="true"></i></a></li>
                    <li><a href="">Sucursales<i class="fa fa-building-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="background">
        <div class="container has-footerbar">
            <div class="parentflex-center margin2 parentflex-center-home">
                <div class="flexchild100">
                    <div class="flexchild100 flexw500 padding2">
                        <div class="panel panel-green nuevav fullwidth">
                            <div class="panel-body">
                                <h3>Nueva Venta</h3>
                                <p class="paddingtp1">Cobrar nueva venta:</p>
                                <i class="fa fa-cart-plus iconvta" aria-hidden="true"></i>
                            </div>
                        </div>
                </div>
                <div class="flexchild100">
                    <div class="parentflex-col">
                        <div class="flexchild100 flexw500 padding2">
                            <div class="panel panel-default fullwidth nomargin">
                                <div class="panel-body">
                                    <h3>Historial</h3>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <i class="fa fa-line-chart iconreg" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-sm-8">
                                            <button type="button" class="btn btn-primary btn-block">Ventas Diarias</button>
                                            <button type="button" class="btn btn-primary btn-block">Ventas Mensuales</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flexchild100 flexw500 padding2">
                            <div class="panel panel-dark buscador fullwidth ">
                                <div class="panel-body">
                                    <h3>Buscador</h3>
                                    <div class="panel panel-default nomargin">
                                        <div class="panel-body">
                                            <p>Buscar por:</p>
                                            <form class="form-buscador form-inline">
                                                <div class="form-group">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="cuit">CUIT
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" nawme="inlineRadioOptions" id="inlineRadio2" value="dni">DNI
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="radio-inline">
                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="nombre">Nombre
                                                    </label>
                                                    <label class="radio-inline">
                                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio4" value="factura">N° Factura
                                                    </label>
                                                </div>
                                                <button type="submit" class="btn btn-default btn-lg">
                                                    <span class="fa fa-search paddingrg1" aria-hidden="true"></span>Buscar
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>