<section id="welcome" class="fullheight">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 center-block">
                <div class="marginbig">
                    <div class="">
                        <img class="center-block" src="/img/logo-ecopago.png">
                        <h1 class="text-center shadow">En una aplicación </br> todos los medios de pago</h1>
                    </div>
                    <div class="center-block panel panel-shadow padding3">
                        <ul class="ventajas fa-ul">
                            <li><i class="fa-li fa fa-check"></i>Rápido y seguro.</li>
                            <li><i class="fa-li fa fa-check"></i>Menores comisiones.</li>
                            <li><i class="fa-li fa fa-check"></i>En cualquier parte sólo con tu celular.</li>
                            <li><i class="fa-li fa fa-check"></i>Sin intermediarios, sin efectivo, sin problemas!</li>
                        </ul>
                    </div>
                    <div class="center-block">
                        <i class="scrollicon fa fa-angle-double-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--END Welcome Section-->
