<div ui-view class="has-headerbar has-footerbar background-img">
    <div class="header">
        <h3>Preguntas Frequentes</h3>
    </div>
    <div class="container has-footerbar">
            <div class="panel paddingrl2 margin1">
                    <dl class="preguntas panel-body">
                        <dt class="qtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, non?</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus possimus nesciunt voluptatum earum ab maxime asperiores veniam aliquid vero debitis obcaecati magni, exercitationem unde, sapiente fuga suscipit voluptas doloremque hic.</dd>
                        <dt class="qtitle">Soluta provident, consequatur aspernatur. Possimus, maxime fugit obcaecati laboriosam laudantium?</dt>
                        <dd>
                            <p>Magni cum libero ullam autem, dignissimos obcaecati maiores tenetur. Illum ullam fugiat porro cumque, necessitatibus eaque velit. Dolores esse molestiae dolore, beatae tenetur rem deserunt, error, natus illum architecto totam?</p>
                            <p>Pariatur nulla iusto facilis hic nihil ipsa quia fugiat delectus nobis cumque quos voluptas animi asperiores optio maiores odit, earum veritatis vitae cum soluta eos est. Aut suscipit, expedita corporis!</p>
                        </dd>
                        <dt class="qtitle">Assumenda error, id nemo. Aut porro fugiat animi enim officiis?</dt>
                        <dd>
                            <p>Recusandae possimus ipsam doloremque numquam asperiores. Esse ad, sed blanditiis cumque temporibus saepe, animi corrupti dolor voluptates repellat ipsam numquam perferendis ut quae iste inventore quod eos veritatis, maiores consectetur?</p>
                            <p>Aperiam dolorum rerum repellendus voluptatum quae, ullam, omnis minus modi sed animi vero similique atque. Fugit et esse assumenda, placeat laudantium vel quasi odit delectus, perspiciatis, aliquam quaerat ea amet.</p>
                        </dd>
                        <dt class="qtitle">Facere ad necessitatibus voluptatum minima esse ipsum similique tempore non?</dt>
                        <dd>
                            <p>Id tempora dolor cum libero quae sequi voluptatum ex autem optio doloribus dolorem rerum nam corrupti harum asperiores beatae, quaerat accusantium quasi, provident hic perspiciatis sed! Magni reprehenderit nisi reiciendis!</p>
                            <p>Doloribus, eaque est minima, officia a laboriosam ad pariatur eum omnis assumenda, voluptatibus possimus consequatur atque officiis mollitia eveniet repudiandae. Totam quo eaque nam debitis non fuga. Ullam, voluptatum dicta!</p>
                        </dd>
                        <dt class="qtitle">Esse ducimus, officia, quidem molestias dicta minus nemo impedit nihil?</dt>
                        <dd>Voluptas quibusdam ratione, itaque hic quisquam officiis ab cupiditate voluptatibus, neque tempore debitis! Ducimus veritatis deserunt enim non officia at minus impedit, sed modi. Cupiditate vitae, est unde blanditiis libero.</dd>
                        <dt class="qtitle">Eum, accusantium similique reprehenderit non ipsa voluptas tempore. Repellendus, iste?</dt>
                        <dd>Tenetur illum, obcaecati rem. Expedita cupiditate temporibus hic non repellendus veritatis amet aspernatur deserunt. Perspiciatis fuga sapiente autem, quibusdam velit cupiditate ut perferendis soluta facilis alias nemo et cumque magni!</dd>
                        <dt class="qtitle">Saepe praesentium corporis blanditiis vero ratione odit voluptatum ipsum dicta?</dt>
                        <dd>
                            <p>Minima reprehenderit, soluta cupiditate eveniet molestiae consequatur suscipit quis hic libero inventore, ea, molestias, velit totam vitae. Sed dignissimos animi, maiores veniam, saepe, tempore laborum incidunt voluptas commodi deserunt nihil.</p>
                            <p>Perferendis, quo id corporis dolorem ut, iusto ab ullam qui dolorum officiis tenetur minima quae molestias veniam omnis ratione libero quod rem necessitatibus odio accusantium eveniet. Neque, dolorum odit incidunt?</p>
                        </dd>
                        <dt class="qtitle">Veritatis minus vero rem quia quibusdam praesentium ad aspernatur facere?</dt>
                        <dd>
                            <p>Dignissimos repellendus sint ipsa, praesentium voluptatibus ex error vitae ea placeat autem nemo saepe deserunt reprehenderit quo consequatur accusantium dolore assumenda, rerum, asperiores ipsam incidunt! Odio ea, deserunt fuga modi.</p>
                            <p>Atque quas molestias, nesciunt eveniet modi accusantium, deserunt enim velit at perferendis veritatis a. Doloribus voluptatibus possimus molestiae id iusto, similique maiores dolore. Nihil iste, nisi rerum eaque vel eligendi.</p>
                        </dd>
                        <dt class="qtitle">Expedita dicta rem veniam nam neque alias a facilis quia?</dt>
                        <dd>Quae libero veritatis dolorum tempora consequatur quasi labore voluptatem veniam earum expedita sed nobis voluptatibus, iusto odio ipsam maiores dicta inventore eveniet saepe illum! Libero vel dolor autem porro tempore.</dd>
                        <dt class="qtitle">Voluptatem blanditiis necessitatibus recusandae quas aut, aliquid id aspernatur architecto?</dt>
                        <dd>At eaque nobis voluptates, adipisci obcaecati magnam repellendus quo pariatur reiciendis atque iusto. Praesentium id, atque minus magnam quae laudantium pariatur dicta, impedit debitis, maiores minima ut iusto ratione, similique!</dd>
                    </dl>
                
            </div>
        
    </div>
</div>
