<div ui-view class="has-headerbar has-footerbar background-img">
    <div class="header">
        <h3>Terminos y Condiciones</h3>
    </div>
    <div class="container has-footerbar">
        <div class="panel paddingrl2 margin1">
            <div class="panel-body terminos-cond">
                <h4>Soluta a, architecto? Quae nostrum laborum quisquam, numquam vitae facere!</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum facere vitae assumenda minus dicta, labore repellat commodi temporibus dolores deserunt pariatur velit iusto, inventore eligendi quo! Nemo natus amet itaque.</p>
                <p>Culpa, nulla tempora debitis. Perferendis ipsa laboriosam consectetur dolorum cum tempore, necessitatibus voluptas cumque. Tempore atque autem dolore soluta ratione! Quod similique qui reprehenderit sed unde perspiciatis impedit, ratione quaerat.</p>
                <h4>Veniam sequi repellat unde, culpa officiis quidem ullam delectus non?</h4>
                <p>Consectetur unde officiis velit dolores vel sint quasi, nihil quod possimus voluptates atque eos totam minima id labore eveniet sequi laboriosam consequuntur eius commodi facere explicabo! Suscipit, eveniet explicabo voluptatum.</p>
                <p>Sapiente reprehenderit minus similique veniam, magnam expedita laboriosam nobis rerum dignissimos repudiandae! Distinctio blanditiis itaque, dolore optio quasi laboriosam enim vel placeat magni dolores vero, fugit asperiores voluptate maxime autem.</p>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, voluptates.</h4>
                <p>Corporis nobis minima saepe et officiis totam ipsum, itaque nisi ratione sed rerum, facilis velit laudantium hic distinctio? Facere nobis mollitia ab molestiae animi, assumenda ratione dignissimos iure similique maiores.</p>
                <p>Consequatur necessitatibus tenetur aliquam obcaecati, qui saepe aspernatur, cum, nihil beatae explicabo dicta nostrum, voluptatem. Hic voluptate neque omnis ex illo reiciendis, ab nulla modi maiores, atque. Enim, repellat, temporibus?</p>
                <p>Numquam fugiat nemo reiciendis, animi qui iusto provident nobis atque fuga! Non, veritatis autem totam mollitia consectetur esse officia quam dolor minima? Obcaecati labore porro deleniti ea, assumenda consectetur temporibus!</p>
                <h4>Provident similique nemo inventore autem suscipit animi omnis, eius rem.</h4>
                <p>Sit harum assumenda veritatis velit facere dolore unde expedita reprehenderit voluptates, quia, ea possimus rem dicta excepturi hic deleniti laborum in minus similique? Corporis vel, sapiente, nulla quae sunt necessitatibus?</p>
                <h4>Eligendi laboriosam eveniet dicta id sint, magnam qui magni quo!</h4>
                <p>Ex, molestias. Recusandae, quae dolor placeat soluta laudantium, aliquam accusamus debitis blanditiis aut ratione deserunt et nesciunt, dicta hic nulla voluptatum rem explicabo reprehenderit, voluptate fuga. Obcaecati expedita accusantium quod!</p>
                <h4>Deleniti, ab sequi nisi praesentium ipsa atque repudiandae commodi dolorem!</h4>
                <p>Ipsam aperiam distinctio consequatur cumque ex nostrum commodi aliquid tempore. Nulla dolorem consequatur eos unde est nobis cumque, adipisci quibusdam ullam deserunt illum autem veniam ad nemo! Iure, fuga, possimus.</p>
                <p>Consequatur eos ad laborum, accusantium cum. Sint iure molestiae deleniti facilis aliquid id quo, optio, quasi atque magnam, iste doloribus minus consectetur illum vitae. Quisquam, quo quas delectus quos odio.</p>
                <h4>Inventore repellat excepturi nostrum voluptatum recusandae adipisci itaque, repellendus non.</h4>
                <p>Cupiditate optio, quos est facere iure deserunt tenetur unde consequatur quibusdam neque cumque sed quasi quo hic eius cum, voluptatibus minima exercitationem mollitia doloribus fugiat quidem! Reprehenderit, reiciendis alias totam?</p>
                <p>Sunt beatae impedit aut tempore praesentium molestiae vel reprehenderit ducimus ipsam quo fuga incidunt consequuntur maiores, sed ex distinctio! Reprehenderit ut perspiciatis cupiditate. Magnam, quod? Ratione alias dolores mollitia earum!</p>
                <p>Distinctio perferendis ipsum sunt sapiente id delectus eum nam, autem quisquam aliquam maiores in facere corrupti cum consequatur illo similique ratione rem at pariatur! Ipsum, quo. Porro, est minima vel.</p>
                <h4>Molestias harum architecto ut velit incidunt voluptate aliquam temporibus ex?</h4>
                <p>Quas deleniti earum dolorem ullam esse in officiis distinctio debitis, officia! Eligendi numquam culpa, tempora ut nobis, repudiandae id non laudantium deserunt accusantium facilis provident excepturi suscipit iure, voluptatem officia.</p>
                <p>Impedit natus vero praesentium et, facilis consectetur sunt. Possimus autem neque, vitae, aliquam porro delectus similique architecto minima error voluptatum, vero fuga officiis esse tenetur hic. Temporibus iure assumenda neque.</p>
                <h4>Ratione suscipit a sint, in dolores deserunt incidunt eum dolor!</h4>
                <p>Nulla atque voluptate, illo eveniet consequuntur architecto tenetur laborum ipsa in sit culpa dicta enim consectetur odio suscipit aperiam ducimus nesciunt. Pariatur iure, optio, impedit vero officia culpa magnam voluptatum.</p>
                <h4>Deleniti magnam ea vitae aliquam expedita obcaecati, nostrum ipsum! Nisi?</h4>
                <p>Deserunt delectus aspernatur excepturi omnis quidem eaque praesentium nihil, numquam illum quae ad, quod dolor repellat dolore doloribus voluptatem distinctio provident et? In totam perferendis amet magnam sit quis laudantium.</p>
                <p>Eligendi blanditiis magni nemo aut. Porro sint impedit officiis asperiores quam ad, optio molestias, dolorum, cum ipsa animi quidem. Perferendis dignissimos cumque assumenda repellendus mollitia harum sint omnis voluptatum neque.</p>
                <p>Obcaecati, animi, ab commodi eos atque quasi modi, natus vitae mollitia voluptas possimus! Aliquid numquam beatae incidunt provident, dolorum rem voluptates, vel consequatur. Nam perferendis magni quam dolor id delectus.</p>
            </div>
        </div>
    </div>
</div>
